<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="café entre amigos">

    <link rel="Preload" href="/public/css/styles.css" as="style">
    <link rel="stylesheet" href="/public/css/styles.css">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
    rel="stylesheet">

    <link rel="Preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">

    <title>Catálogo - Café entre amigos</title>
    <link rel="shortcut icon" href="/public/img/icon.ico">
</head>
<body>
    <header class="header">

        <div class="contenedor">
            <div class="barra"> 

                <a class="logo" href="index.html">
                    <img src="/public/img/logo-long.png" alt="Logo FullStack Blog" class="logo__imagen">
                </a>

                <nav class="navegacion"> 
                    <a href="catalogo.html" class="navegacion__enlace">Catálogo</a>
                    <a href="nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header__texto">
            <h2 class="no-margin">Recuerdos que nos unen</h2>
            <p class="no-margin">Un lugar para compartir momentos inolvidables</p>
        </div>
    </header>

    <main class="contenedor">
        <h3 class="curso-titulo"><span>Conoce nuestros productos</span></h3>
        <h3 class="curso-titulo">MERIENDAS</h3>
        <ul class="catalogo">
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/desayuno-light-te-yogurt.jpg" alt="opción 1">
                </div>
                <div class="producto__texto">
                    <h4>OPCIÓN 1</h4>
                    <p>Tostadas de pan a elección con mix de semillas, queso untable, mermelada casera, yogur natural con granola y ensalada de frutas</p>
                    <p><span class="producto__texto-bold">Precio: </span>$9000.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-opcion1.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/tostado-licuado.jpg" alt="opción 2">
                </div>
                <div class="producto__texto">
                    <h4>OPCIÓN 2</h4>
                    <p>Tostado de jamón y queso más licuado de fruta de temporada a elección, preparación con agua, leche entera o descremada</p>
                    <p><span class="producto__texto-bold">Precio: </span>$9000.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-opcion2.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/sandwich-jamon.jpg" alt="imagen de curso 3">
                </div>
                <div class="producto__texto">
                    <h4>OPCIÓN 3</h4>
                    <p>Sandwich artesanal de jamón crudo, pan de campo, rúcula, tomate y queso más jugo de naranja </p>
                    <p><span class="producto__texto-bold">Precio: </span>$10200.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-opcion3.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/cafe-torta.jpg" alt="imagen de curso 3">
                </div>
                <div class="producto__texto">
                    <h4>OPCIÓN 4</h4>
                    <p>Porción de torta sujeta a disponibilidad más infusión a elección (té, café, licuados, bebidas)</p>
                    <p><span class="producto__texto-bold">Precio: </span>$9000.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-opcion4.html">Detalle</a>
                </div>
            </li>
        </ul>
        <h3 class="curso-titulo">CAFETERÍA</h3>
        <ul class="catalogo">
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/cortado-pocillo.png" alt="imagen de curso 1">
                </div>
                <div class="producto__texto">
                    <h4>CAFÉ CORTADO</h4>
                    <p>Café espresso con una pequeña cantidad de leche</p>
                    <p><span class="producto__texto-bold">Precio: </span>$1400.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-cortado.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/cortado-doble.webp" alt="imagen de curso 2">
                </div>
                <div class="producto__texto">
                    <h4>CORTADO DOBLE</h4>
                    <p>Café espresso doble con leche servido en taza regular</p>
                    <p><span class="producto__texto-bold">Precio: </span>$1800.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-doble-cortado.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/te.png" alt="imagen de curso 3">
                </div>
                <div class="producto__texto">
                    <h4>TÉ</h4>
                    <p>Infusiones varias a elección (té, mate cocido, etc)</p>
                    <p><span class="producto__texto-bold">Precio: </span>$1300.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-te.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/submarino.jpg" alt="imagen de curso 3">
                </div>
                <div class="producto__texto">
                    <h4>SUBMARINO</h4>
                    <p>Leche caliente con una tableta de chocolate negro de taza</p>
                    <p><span class="producto__texto-bold">Precio: </span>$1800.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-submarino.html">Detalle</a>
                </div>
            </li>
        </ul>
        <h3 class="curso-titulo">PASTELERÍA</h3>
        <ul class="catalogo">
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/medialunas.jpg" alt="imagen de curso 1">
                </div>
                <div class="producto__texto">
                    <h4>MEDIALUNA</h4>
                    <p>Medialunas de manteca y almibar</p>
                    <p><span class="producto__texto-bold">Precio: </span>$550.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-medialunas.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/criollitos.jpg" alt="imagen de curso 2">
                </div>
                <div class="producto__texto">
                    <h4>CRIOLLITO</h4>
                    <p>Criollitos de grasa</p>
                    <p><span class="producto__texto-bold">Precio: </span>$550.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-criollitos.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/porcion-torta.webp" alt="imagen de curso 3">
                </div>
                <div class="producto__texto">
                    <h4>PORCIÓN TORTA</h4>
                    <p>Porción de torta a elección</p>
                    <p><span class="producto__texto-bold">Precio: </span>$4500.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-torta.html">Detalle</a>
                </div>
            </li>
            <li class="producto">
                <div class="producto__imagen">
                    <img src="/public/img/tostada.jpg" alt="imagen de curso 3">
                </div>
                <div class="producto__texto">
                    <h4>TOSTADA</h4>
                    <p>Tostada con jamón, huevo y palta</p>
                    <p><span class="producto__texto-bold">Precio: </span>$4000.00</p>
                    <a class="buton buton--secundario" href="/views/detalle-producto/detalle-tostada.html">Detalle</a>
                </div>
            </li>
        </ul>
    </main>
    

    <footer class="footer">
        <div class="contenedor">
            <div class="barra barra-inferior"> 

                <a class="logo" href="index.html">
                    <img src="/public/img/logo-long.png" alt="Logo FullStack Blog" class="logo__footer">
                </a>

                <nav class="navegacion"> 
                    <a href="catalogo.html" class="navegacion__enlace">Catálogo</a>
                    <a href="nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
</footer>
<script src="js/modernizr.js"></script>
</body>
</html>