<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="café entre amigos">

    <link rel="Preload" href="/public/css/styles.css" as="style">
    <link rel="stylesheet" href="/public/css/styles.css">

    <link rel="Preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="crossorigin" as="font">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
    rel="stylesheet">

    <link rel="Preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">

    <title>Café entre amigos</title>
    <link rel="shortcut icon" href="/public/img/icon.ico">
</head>
<body>
    <header class="header">

        <div class="contenedor">
            <div class="barra"> 

                <a class="logo" href="/views/Index.html">
                    <img src="/public/img/logo-long.png" alt="Logo FullStack Blog" class="logo__imagen">
                </a>

                <nav class="navegacion"> 
                    <a href="/views/catalogo.html" class="navegacion__enlace">Catálogo</a>
                    <a href="/views/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="/views/contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header__texto">
            <h2 class="no-margin">Recuerdos que nos unen</h2>
            <p class="no-margin">Un lugar para compartir momentos inolvidables</p>
        </div>
    </header>

    <main class="contenedor">
        <h3 class="curso-titulo"><span>MERIENDAS</span></h3>
        <div class="producto-detalle">
            <div class="producto-imagenes">
                <img src="/public/img/desayuno-light-te-yogurt.jpg" alt="Producto principal" class="producto-imagen-principal">
                <div class="producto-imagenes-secundarias">
                    <img src="/public/img/detalle-opcion1.jpeg" alt="Producto secundario 1" class="producto-imagen-secundaria">
                    <img src="/public/img/detalle2-opcion1.jpeg.png" alt="Producto secundario 2" class="producto-imagen-secundaria">
                </div>
            </div>
            <div class="producto-informacion">
                <h1 class="producto-nombre">OPCIÓN 1</h1>
                <p class="producto-descripcion">Tostadas de pan integral, blanco o negro con mix de semillas, queso untable, mermelada casera, yogur natural con granola y ensalada de frutas con frutas de estación</p>
                <p class="producto-precio">$9000.00</p>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra barra-inferior"> 

                <a class="logo" href="/views/Index.html">
                    <img src="/public/img/logo-long.png" alt="logo" class="logo__footer">
                </a>

                <nav class="navegacion"> 
                    <a href="/views/catalogo.html" class="navegacion__enlace">Catálogo</a>
                    <a href="/views/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="/views/contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
</footer>
<script src="js/modernizr.js"></script>
</body>
</html>
